RUST_LOG=debug
SECRET_KEY=secretkey


POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=databasename
POSTGRES_PORT=15432
DATABASE_URL=postgres://user:password@postgres:15432/databasename


RUST_BACKTRACE=1
APP_URL=http://localhost:3000
DEV_PORT=60012
GOOGLE_OAUTH2_CLIENT_ID=abc
GOOGLE_OAUTH2_CLIENT_SECRET=123


#SMTP_FROM_ADDRESS="histtext@testmail.com" 
#SMTP_SERVER="smtp.testmail.com"
#SMTP_USERNAME="histtext@testmail.com"
#SMTP_PASSWORD="password"
#SEND_MAIL="true"


S3_HOST=http://localhost:9000
S3_REGION=minio
S3_BUCKET=bucket
S3_ACCESS_KEY_ID=access_key
S3_SECRET_ACCESS_KEY=secret_key

MAX_SIZE_QUERY=10000
MAX_SIZE_DOCUMENT=50
MAX_ID_NER=1000
MAX_METADATA_SELECT=50

PATH_STORE_FILES=/data/histtext-tmp
STATS_CACHE_PATH=/data/histtext-tmp/stats_cache.json
NER_CACHE_PATH=/data/histtext-tmp/ner_cache.json

EMBED_PATH=/data/Embeddings/glove.6B.50d.txt
MAX_EMBEDDINGS_FILES=3
SOLR_NER_PORT=8982

EXCLUDE_FIELD_TYPES="text_general,text_normalized_cjk,integer"
EXCLUDE_FIELD_NAMES="date_rdt"
EXCLUDE_FIELD_NAME_PATTERNS="wke_,wk_"


EXCLUDE_REQUEST_NAME_STARTS_WITH="_"
EXCLUDE_REQUEST_NAME_ENDS_WITH="_"
ID_STARTS_WITH="id"
ID_ENDS_WITH="id"

MAIN_DATE_VALUE="date_rdt"
MAX_QUERY_SIZE_MB=10
MAX_DOCUMENT_SIZE_MB=128

DO_OPENAPI=true
OPENAPI_LOGIN="openapi"
OPENAPI_PWD="openapi"